<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="пицца петрозаводск, доставка пиццы петрозаводск, доставка суши петрозаводск, заказ суши петрозаводск, бургеры петрозаводск, заказ пиццы петрозаводск, пицца петрозаводск, пицца в петрозаводске, меню пицца, заказать пиццу, интернет пицца в петрозаводске, рестораны Петрозаводска, бизнес ланчи" />
    <meta name="description" content="Доставка пиццы, суши, бургеров, обедов по Петрозаводску. Доставка - бесплатная, только стоимость Вашего заказа. 24 часа." />
    <title>@ViewBag.Title – Доставка пиццы по Петрозаводску 24 часа.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ var temp = Convert.ToString(ViewBag.cartindicator);}
</head>
<body>
    <header>
        <div class="navbar navbar-rospizza navbar-fixed-top">
            <div class="container head__container">
                <div class="logo">
                    <img src="~/img/logo.png" alt="" width="70" />
                </div>
                <div class="head__block_pizza">
                    <p>Dominos</p>Pizza
                </div>
                <div class="head__block_moto">
                    Пиццерия № 1<br />в Петрозаводске
                </div>
                <div class="head__block_phone">
                    Доставка пиццы <br>24 часа: <span>555 - 555</span>

                </div>

                <div class="head__block_moto">
                    <div class="cart_top">
                        <span class="carttop_price_value" pricevalue="0">
                            <span class="value">0</span> ₽
                        </span><a href="@Url.Action("Cart", "Home")"><img src="@Url.Content("~/img/cart.png")" alt="" width="50" height="50" /></a>
                    </div>
                </div>
            </div>
            <div class="container navbar navbar-pizzamenu">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav h3-u">
                        <li>@Html.ActionLink("Пиццы", "Index", "Home")</li>
                        <li>@Html.ActionLink("Акции", "Stock", "Home")</li>
                        <li>@Html.ActionLink("Как заказать", "Delivery", "Home")</li>
                        <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                        <li>@Html.ActionLink("Вакансии", "Vacancies", "Home")</li>
                        <li>@Html.ActionLink("Правовая информация", "Rules", "Home")</li>
                        <li>@Html.ActionLink("Вход", "Auth", "Customers")</li>
                    </ul>
                    <!--<div class="h3-u">Html.Partial("_LoginPartial")</div> !!!!!здесь вход в систему авторизации-->
                </div>
            </div>
        </div>
    </header>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="container-u">
                    <h3 class="h3-ua">Способы оплаты: <img src="~/img/pay1.jpg" /></h3>
                    <h3 class="h3-ua">Мы в сети: <img src="~/img/vk.jpg" width="50" /><img src="~/img/ok.png" width="30" /></h3>
                    <p class="lead-footer h3-ua">&copy; 2016 - @DateTime.Now.Year – Dominos Pizza - Пиццерия №1 в Петрозаводске, доставка 24 часа.</p>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
