<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="пицца петрозаводск, доставка пиццы петрозаводск, доставка суши петрозаводск, заказ суши петрозаводск, бургеры петрозаводск, заказ пиццы петрозаводск, пицца петрозаводск, пицца в петрозаводске, меню пицца, заказать пиццу, интернет пицца в петрозаводске, рестораны Петрозаводска, бизнес ланчи" />
    <meta name="description" content="Доставка пиццы, суши, бургеров, обедов по Петрозаводску. Доставка - бесплатная, только стоимость Вашего заказа. 24 часа." />
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding: 0;
            margin: 0;
            border: unset;
            height:100%;
        }
        .span1 {
            margin: 15px 5px 0 0;
        }
            .span1 span {
                margin: 0 10px 0 10px;
            }
    </style>
</head>
<body>
    <div style="width:100%; display: flex; justify-content: flex-end; ">
        
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="glyphicon glyphicon-user span1"></span>
                    <span class="span1">@ViewBag.user.FirstName @ViewBag.user.Patronymic @ViewBag.user.LastName</span>

                        <span class="span1" style=" white-space: nowrap;">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out" style="color:black;"></span></a>
                        </span>
                }
                else
                {
                    @Html.ActionLink("Вход", "Auth", "Users")
                }
        
</div>

    
        @*<div class="container body-content" >*@
            @RenderBody()


        @*</div>*@
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
