@using DominosPizza.Models
@model List<OrderTable>
<table style="width:500px; max-width:500px;">
    <thead></thead>
    <tbody class="managerOrderList">
        <tr class="thead">
            <td>№</td>
            <td>арт.</td>
            <td style="width: 100%">название</td>
            <td>цена</td>
            <td>шт.</td>
            <td>итог</td>
            <td colspan="3">изменить</td>
        </tr>
        @{ int itog = 0;}
        @{ int totalQ = 0;}
        @{ int pie = 0;}
        @foreach (var tableRow in Model)
        {
            itog += tableRow.PreSum();
            totalQ += tableRow.ProductQuantity;
            if (tableRow.ProductId==7)
            {
                pie = 1;
            }
            <tr id="row-@tableRow.ProductId">
                <td id="order">@tableRow.OrderTableId</td>
                <td>@tableRow.ProductId</td>
                <td id="product"style="font-weight: 700;">@tableRow.ProductName</td>
                <td>@tableRow.ProductPrice</td>
                <td id="tdamount-@tableRow.ProductId" style="font-weight: 700;">@tableRow.ProductQuantity</td>
                <td id="preSum-@tableRow.ProductId">@tableRow.PreSum()</td>
                <!---->
                <td style="padding: 2px;  border-right: 0;"><button style=" display:block; margin: 0;" class="btn btn-success mins" id="mins-@tableRow.ProductId" onclick="minus(this.id)">&#x2796</button>
                </td>
                <td style="padding: 2px;  border-right: 0; border-left: 0;"><button style=" display:block;  margin: 0;" class="btn btn-success plus" id="plus-@tableRow.ProductId" onclick="plus(this.id)">&#x2795</button>
                    <input type="hidden" id="val-@tableRow.ProductId" name="productId" value="@tableRow.ProductId" />
                    <input type="hidden" id="amount-@tableRow.ProductId" name="amount" value="@tableRow.ProductQuantity" />
                    <input type="hidden" id="price-@tableRow.ProductId" name="price" value="@tableRow.ProductPrice" />
                    <input type="hidden" id="preSumValue-@tableRow.ProductId" name="price" value="@tableRow.PreSum()" />
                </td>
                <td style="padding: 2px;    border-left: 0;">
                    <button style=" display:block; margin:0;" class="btn btn-danger dels" id="dels-@tableRow.ProductId" >&#x274C</button>
                </td>
                
                <!---->
            </tr>

        }
        
    </tbody>
</table><br />
<p id="itogVisible" style="font-size: 2em; font-weight: 800; text-align: left;">@itog.00 <span>&#8381;</span></p>
<input type="hidden" id="itogValue" name="price" value="@itog" />
<input type="hidden" id="pie" name="price" value="@pie" />
<div>
   
        <p style="font-weight: 700;"id="prom"></p>
        <p style="font-weight: 700; bottom:100px" id="message"></p>
        
 </div>
@*<div >
    <button style=" display:block;  margin: 0; visibility:hidden" class="btn btn-success plus" id="dis-" onclick="discount(this.id)">ПОЛУЧИТЬ СКИДКУ!</button>

</div>*@

  
 <div>
    <p id="see"></p>
     <p id="amount"></p>
</div> 
  
<p id="totalQVisible" style="font-size: 2em; font-weight: 800; text-align: left; visibility:hidden">@totalQ</p>
<input type="hidden" id="totalQValue" name="quantity" value="@totalQ" />
    

