@using DominosPizza.Models
@model List<OrderTable>

@{
    ViewBag.Title = "PayOnline";
}
<br />
<div class="row">
    <div class="col-sm-7">
           <form method="POST" enctype="multipart/form-data" action="/Home/PayMethod">
                <h3 class="h3-ua" for="sum">Выберите способ оплаты: </h3><br /><br />
                <input type="radio" name="paymentType" value="1"> <img src="~/img/payCard.jpg"><!--Банковская карта--><br /><br />
                <input type="radio" name="paymentType" value="2"> <img src="~/img/payYM.jpg"><!-- Яндекс.Деньги--><br /><br />
                <input type="radio" name="paymentType" value="3"> <img src="~/img/payQW.jpg"><!-- Qiwi.Wallet--><br /><br />
                <input type="radio" name="paymentType" value="4"> <img src="~/img/payPP.jpg"><!-- PayPal--><br /><br />
                <input class="btn btn-danger" type="submit" name="submit-button" value="Оплатить">

            </form>
        </>
    </div>
        <div class="col-md-5">
            <h3 class="h3-ua">Ваш заказ №: @ViewBag.LastTask </h3><br /><br />
            <table style="width:500px; max-width:500px;">
                <thead></thead>
                <tbody class="managerOrderList">
                <thead></thead>
                <tbody class="managerOrderList">
                    <tr class="thead">
                        <td>№</td>
                        <td>арт.</td>
                        <td style="width: 100%">название</td>
                        <td>цена</td>
                        <td>шт.</td>
                        <td>итог</td>
                       
                    </tr>
                    @{ int itog = 0;}
                    @foreach (var tableRow in Model)
                    {
                        itog += tableRow.PreSum();

                        <tr id="row-@tableRow.ProductId">
                            <td>@tableRow.OrderTableId</td>
                            <td>@tableRow.ProductId</td>
                            <td style="font-weight: 700;">@tableRow.ProductName</td>
                            <td>@tableRow.ProductPrice</td>
                            <td id="tdamount-@tableRow.ProductId" style="font-weight: 700;">@tableRow.ProductQuantity</td>
                            <td id="preSum-@tableRow.ProductId">@tableRow.PreSum()</td>
                            
                        </tr>

                    }

                </tbody>

            </table>
            <br><br>
            <p class="h3-ua">Cумма к оплате: @itog <span class="glyphicon glyphicon-ruble"></span></p><br /><br />
        </div>
    </div>



<script src="/Scripts/jquery-1.10.2.js"></script>
<!--<script type="text/javascript" language="javascript">

    // Warning
    $(window).on('beforeunload', function () {
        return "Заказ будет сброшен";
    });

    // Form Submit
   $(document).on("submit", "form", function (event) {
        // disable unload warning
        $(window).off('beforeunload');
        
    });
</script>-->
<script>
    var message = true;
    $(function () {
        $('form').submit(function () {
            message = false;
        });
    });
    window.onbeforeunload = function (e) {
        if (message) {
            var dialogText = 'Заказ будет сброшен';
            e.returnValue = dialogText;
            return dialogText;
        }
    }
</script>