@using DominosPizza.Models;
@{

    ViewBag.Title = "Dominos Пицца - доставка пиццы, суши, бургеров и любой еды в городе Петрозаводске круглосуточно";

}

@model IEnumerable<Product>
<!--<br /><p style="font-size: .9rem; color: gray; line-height: 110%; text-align:center;">
    Инструкция для тестовых испытаний: переключение между публичным и служебным интерфейсами осуществляется через белый квадратный логотип вверху страницы.
</p><br />-->
<div class="well content" style="justify-content: center;">
    @foreach (var product in Model)
    {
        <div class="well pizzacard" style="margin: 2px;">
            <img class="pizzaimg" src="@product.ImageLink" />
            <div class="pizzaname">
                <span class="pizzaname-text">@product.Name</span>
            </div>
            <div class="pizzacontent">
                @product.Description
            </div>

            <!--  <div class="pizzasize">
                  <div class="pizzasize-active" >35см</div>
                  <div class="pizzasize-passive">30см</div>
                  <div class="pizzasize-passive">25см</div>
              </div>-->
            <!-- <p class="doughselect"><span class="doughselect-active">Традиционное</span><span class="doughselect-passive"> / Тонкое</span></p>-->
            <p class="pizzaweight">@product.Weight г.</p>

            <div class="pizzaorder">
                <div class="pizzaorder-price">@product.Price <span>&#8381;</span></div>
                <div id="addtocartbtn-@product.ProductId" class="pizzaorder-tocart">в корзину</div>

                <input id="addtocartinp-@product.ProductId" type="hidden" name="productId" value="@product.ProductId" />
                <div id="successFadeOut-@product.ProductId" class="successFadeOut" style="display:none;">добавлено</div>
            </div>

        </div>
    }

</div>
<!--<button id="commentsShow-">chat</button>
место для загрузки Partial View c комментариями
<div id="comments-modal" class="comments-modal">

    <div class="comments-window">

        <div id="comment-PartialView" style="width: 100%; height: 100%; display: flex; flex-direction:column;  justify-content: center;"><img style="width: 100px; height: 100px; margin-left: 90px; opacity: 0.5;" src="~/img/sectorPizza3.gif" /></div>

    </div>
    <div class="addNewComment">

        <textarea id="NewCommentInput" placeholder="введите здесь текст сообщения и нажмите на кнопку &laquo;отправить&raquo;"></textarea>
        <div class="commentUser">
            <div><button id="chat-Add-message-" class="btn btn-default" title="отправить">отправить</button></div>
            <button id="closeComments" class="btn btn-danger" onclick="hideComments()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</div>
<!---->
<button id="commentsShow-" class="openChat"><span class="glyphicon glyphicon-chevron-up"></span></button>

<!--место для загрузки ЧАТА-->
<div id="comments-modal" class="comments-modal-client">


    <div class="comments-client-rightPanel">
        <div class="comments-window-manager-right">

            <div id="OnlineChatDialog"><img src="~/img/sectorPizza3.gif" /></div>

        </div>


        <textarea id="NewMessageTextArea-manager" class="NewMessageTextArea-manager" placeholder="введите здесь текст сообщения и нажмите на кнопку &laquo;отправить&raquo;"></textarea>

        <div class="SendMessage-manager">
            <div><button id="AddNewMessage-" class="sendMessageButton" title="отправить">отправить</button></div>
            <button id="closeComments-manager" class="closeChat" onclick="hideChat()">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>

    </div>
</div>
<!-- скрипт для ЧАТА-->
<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Scripts/js-cokie/js-cookie.js"></script>
<script type="text/javascript">
    var taskId = 0;
    var onlineChatUniqueId = "new";
    var timerId;
    var newHtml;
    var oldHtml;
    $("button").click(function (event) {

        if (this.id.slice(0, 13) == "commentsShow-") {
            event.preventDefault();
            $("#comments-modal").css({
                "display": "block", "overflow": "hidden", "flex-direction": "column", "display": "flex", "justify-content": "center", "vertical-align": "top"
            });

           timerId = setTimeout(function swap() {

                //if (Cookies.get("chatId") != null) { onlineChatUniqueId = Cookies.get("chatId"); }

                        $.ajax({
                            url: "/Messaging/ShowDialog",
                            dataType: "html",
                                data: {
                                    onlineChatUniqueId: onlineChatUniqueId
                                },
                            type: "POST",
                            success: function (data) {

                                if (data != oldHtml) {
                                    oldHtml = data;
                                    //onlineChatUniqueId = Cookies.get("chatId");
                                    var h5;
                                    var sumh5 = 20;
                                    $("#OnlineChatDialog").html(data);
                                    $("#OnlineChatDialog").css({ "justify-content": "flex-start" });
                                    $("#OnlineChatDialog").css({ "height": "10000%" });
                                    $(".messageInChat").each(function () {
                                        h5 = parseInt(- $(this).offset().top + $(this).find("p:last").offset().top + $(this).find("p:last").height()) + 25;
                                        $(this).css({ "height": h5, "background-color": "white" });
                                        sumh5 += h5 + 20;
                                        $("#OnlineChatDialog").css({ "height": sumh5 });
                                    });
                                }
                            }
                        });

                        timerId = setTimeout(swap, 2000);
           }, 500);

        }

        //string onlineChatUniqueId, int customerId, int userId, bool messageByUser, string messageText)

        if (this.id == "AddNewMessage-") {
            event.preventDefault();
            $("#chat-modal").css({
                "display": "block", "overflow": "hidden", "flex-direction": "column", "display": "flex", "justify-content": "center", "vertical-align": "top"
            });
            //            var taskId = parseInt(this.id.slice(13)); //значение остаётся от функции открытия окна комментов
            var userID = 1; //!!! пока так, но позже пользователя над будет определять по логину
            var newCommentText = $("#NewMessageTextArea-manager").val();

            //if (Cookies.get("chatId") != null) onlineChatUniqueId = Cookies.get("chatId");
            $.ajax({
                url: "/Messaging/AddNewMessageToChat",
                dataType: "json",
                data: {
                    onlineChatUniqueId: onlineChatUniqueId,
                    userId: 1,
                    messageByManager: false,
                    messageText: newCommentText
                },
                type: "POST",
                success: function (data) {
                    $("#NewMessageTextArea-manager").val("");
                    //Cookies.set("chatId", data.Data);
                    onlineChatUniqueId = data.Data;
                }
            });
        }
    });

    function hideChat() {
        clearInterval(timerId);
        $("#comments-modal").css({ "display": "none" });
        $("#comment-PartialView").html("<img style=\"width: 100px; height: 100px; margin-left: 90px; opacity: 0.5; \" src=\"img/sectorPizza3.gif\" />");
        $("#comment-PartialView").css({ "width": "100%", "height": "100%", "display": "flex", "flex-direction": "column", "justify-content": "center" });

    }
</script>
<!--конец ЧАТА-->
@*AJAX добавление в корзину*@
<script src="/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    var c = 0;
    $("div.pizzaorder-tocart").click(function (event) {

        if (this.id.slice(0, 13) == "addtocartbtn-") {
            event.preventDefault();
            var pid = parseInt(this.id.slice(13), 10);
            var temp = "#addtocartinp-" + pid;
            var amount = parseInt($(temp).val());
            var successFadeOut = "#successFadeOut-" + pid;
            $.ajax({
                url: "/Home/AddtoCart",
                dataType: "json",
                data: {
                    productId: amount,
                    amount: 1
                },
                type: "POST",
                success: function (data) {
                    $("#cartindicator").html(data.Data);
                    $(successFadeOut).css("display", "block");
                    $(successFadeOut).fadeOut(1000);
                    }

            });
        }
    });
</script>
