@model DominosPizza.Models.Customer
@{
    ViewBag.Title = "Личный кабинет";
}

<h2>Личный кабинет</h2>

<hr />

<div class="tabsLink">
    <a href="#tab1">Профиль</a>
    <a href="#tab2">Заказы</a>
</div>
<style>
    .tabs {
        opacity: 0;
        visibility: hidden;
        
    }

    .tab {
        position: absolute;
        visibility: hidden;
        z-index: 10;
        color: #000;
        font: bold 9pt arial;
    }

    .tabs:target + .tab {
        opacity: 1;
        visibility: visible;
    }

    .tabsLink a {
        background-color: #F06406;
        padding: 2px;
        font: bold 10pt arial;
        color: white;
        text-decoration: none;
        /* Начало закругленные табы */
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        /* Конец закругленные табы */
    }
</style>
<br>
<a class="tabs" id="tab1"></a>
<div class="tab">
    <div>
        <table class="table table-hover">
            <tr>
                <td align="left">
                    Фамилия
                </td>
                <td align="left">
                    @Html.DisplayFor(model => model.CustomerLastName)
                </td>
            </tr>

            <tr>
                <td align="left">
                    Имя
                </td>
                <td align="left">
                    @Html.DisplayFor(model => model.CustomerFirstName)

                </td>
            </tr>

            <tr>
                <td align="left">
                    Отчество
                </td>
                <td align="left">
                    @Html.DisplayFor(model => model.CustomerPatronymic)
                </td>
            </tr>

            <tr>
                <td align="left">
                    Дата рождения
                </td>
                <td align="left">
                    @Html.DisplayFor(model => model.CustomerBirthDate)
                </td>
            </tr>

            <tr>
                <td align="left">
                    Пол
                </td>
                <td align="left">
                    @(Model.CustomerSex.ToString() == "true" ? "Мужской" : "Женский")
                </td>
            </tr>


            <tr>
                <td align="left">
                    Номер телефона
                </td>
                <td align="left">
                    @Html.DisplayFor(model => model.CustomerPhone)
                </td>
            </tr>

            <tr>
                <td align="left">
                    E-Mail
                </td>
                <td align="left">
                    @Html.DisplayFor(model => model.CustomerEmail)
                </td>
            </tr>

            <tr>
                <td align="left">
                    Пароль
                </td>

                <td align="left">
                    @Html.ActionLink("Изменить", "EditPassword")
                </td>
            </tr>

        </table>
    </div>
</div>

<a class="tabs" id="tab2"></a>
<div class="tab">
    
    <table class="table table-hover">
        <tr>
            <td>Дата заказа</td>
            <td>@ViewBag.Tasks.TaskDate</td>
        </tr>
        <tr>
            <td>Сумма заказа</td>
            <td>@ViewBag.Tasks.TaskTotalSum</td>
        </tr>
        <tr>
            <td>Ваш комментарий к заказу</td>
            <td>@ViewBag.Tasks.TaskCustomerComment</td>
        </tr>
    </table>

</div>

