
@{
    Layout = "~/Views/Shared/_LayoutStaffOnly.cshtml";
    ViewBag.Title = "Index";
}

<!--DELIVERY-->
<div class="row">
    <div class="col-sm-10">
        <h2>Курьер</h2>
    </div>
    <div class="col-sm-2">
        <br />
        <label for="OptionName">Имя пользователя</label><br />
        <select class="form-control" name="userId">
            @foreach (var user in ViewBag.users)
            {
                <option value="@user.UsersId">@user.UserName</option>
            }
        </select>
    </div>
</div>
<br />


<div class="well content kitchen">

    @foreach (var task in ViewBag.tasks)
    {
        if (task.TaskStatusId == 2)
        {
            <div class="well pizzacard">
                <button data-toggle="collapse" data-target="#collapse-@task.TasksId" class="collapse-task-content">
                    <p>Номер заказа: @task.TasksId</p>
                    <p><strong> @task.TaskDeliveryDateTime</strong></p>
                </button>
                <div id="collapse-@task.TasksId" class="collapse">
                    <br /><br />
                    <p>@task.TaskDeliveryCustomerAddress</p>
                    <p>@task.TaskDeliveryCustomerPhone</p>
                    <p>@task.TaskDeliveryCustomerName</p>
                    <p>@task.TaskDeliveryDateTime </p>
                    <p>@task.TaskPaymentMethod</p>

                    @{var list = task.taskList;}

                    <table>
                        <tbody class="managerOrderList">
                            <tr class="thead"><td> Наименование</td><td> Количество</td></tr>
                            @foreach (KeyValuePair<int, int> keyValue in list)
                            {
                                var temp = ViewBag.prod;
                                <tr><td> @temp[keyValue.Key] </td><td> @keyValue.Value</td></tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <form method="post" enctype="multipart/form-data" action="/Delivery/DeliveryReadyTask">
                        <input type="hidden" name="TasksId" value="@task.TasksId" />
                        <input type="hidden" name="TaskStatusId" value="3" />
                        <input type="hidden" name="userId" value="3" />
                        <input class="btn btn-danger" type="submit" value="доставлен" />
                    </form>
                </div>
                </div>
                        }
                    }

</div>
