@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrapmin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/manage.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Добавить сотрудника", "Register", "Crmpanel")</li>
                    <li>@Html.ActionLink("Список сотрудников", "Register", "Crmpanel")</li>
                    <li>@Html.ActionLink("Список текущих заказов", "Manage", "Crmpanel")</li>
                    @if (User.Identity.IsAuthenticated)
                     {
                        <li>Вы вошли как:@User.Identity.Name</li>
                        <li>
                            @using (Html.BeginForm("Logout", "Crmpanel", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                        </li>
                    }
                            
                </ul>
            </div>
        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    }


</body>
</html>
