@model ChangePass
@using DominosPizza.Models

@{
    Layout = null;
}
<!doctype html>
<html class="fixed">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Waves Effect Css -->
    <link href="~/Content/waves.css" rel="stylesheet" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/Content/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/Content/morris.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Content/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/Scripts/modernizr.js"></script>
</head>
<body>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Сменить пароль</h2>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group mb-lg">
                            <label>Новый пароль для пользователя: <b>@User.Identity.Name</b></label>
                            <div class="input-group input-group-icon">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-lg", PlaceHolder = "Password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mb-lg">
                            <div class="clearfix">
                                <label class="pull-left">Повторите пароль</label>
                            </div>
                            <div class="input-group input-group-icon">
                                @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control input-lg", PlaceHolder = "Confirm Password" } })
                                @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary hidden-xs" value="Сохранить">Сохранить</button>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" value="Сохранить">Сохранить</button>
                                    <button type="button" class="btn btn-default hidden-xs" value="Отменить" onclick="history.back();">Отменить</button>
                                    <button type="button" class="btn btn-default btn-block btn-lg visible-xs mt-lg" value="Отенить" onclick="history.back();">Отменить</button>
                                </div>
                            </div>
                        </footer>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- end: page -->
    <!-- Vendor -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.browser.mobile.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/nanoscroller.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/magnific-popup.js"></script>
    <script src="~/Scripts/jquery.placeholder.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Scripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/Scripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Scripts/theme.init.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Scripts/waves.js"></script>

    <!-- Examples -->
    <script src="~/Scripts/examples.dashboard.js"></script>
</body>
</html>