@model Customer
@using DominosPizza.Models

@{
    ViewBag.Title = "Dominos Pizza | Редактирование информации о сотруднике";
    Layout = "~/Views/Crmpanel/_LayoutManage.cshtml";
}
<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Управление пиццерией
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li>
                        <!-- стиль предполагает активную вкладку -->
                        <a href="~/Crmpanel/Manage">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Общая статистика</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Crmpanel/Active_Orders">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>Активные заказы</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Crmpanel/Register">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>Добавить сотрудника</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Crmpanel/Users">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>Список сотрудников</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                            <span>Редактор товаров</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a>Пиццы</a>
                            </li>
                            <li>
                                <a>Закуски</a>
                            </li>
                            <li class="nav-parent">
                                <a>Десерты</a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a>Торты</a>
                                    </li>
                                    <li>
                                        <a>Печенье</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Напитки</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <hr class="separator" />
        </div>

    </div>

</aside>
<!-- end: sidebar -->
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Редактирование профиля сотрудника</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <li><span>Редактирование профиля сотрудника</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <!-- start: page -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="center-sign col-sm-6">
            <div class="panel panel-sign">
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.CustomerId)
                    <div class="form-group mb-lg">
                        <label>E-mail / Login</label>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <span class="icon"><i class="fa fa-envelope"></i></span>
                            </span>
                            @Html.EditorFor(model => model.CustomerEmail, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <label>Фамилия</label>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <span class="icon"><i class="fa fa-user"></i></span>
                            </span>
                            @Html.EditorFor(model => model.CustomerLastName, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.CustomerLastName, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <label>Имя</label>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <span class="icon"><i class="fa fa-user"></i></span>
                            </span>
                            @Html.EditorFor(model => model.CustomerFirstName, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.CustomerFirstName, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <label>Отчество</label>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <span class="icon"><i class="fa fa-user"></i></span>
                            </span>
                            @Html.EditorFor(model => model.CustomerPatronymic, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.CustomerPatronymic, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <label>Пол</label>
                        <div class="col-sm-12">
                            <div class="radio-custom radio-primary">
                                <span class="icon"><i class="fa fa-male"></i></span>
                                @Html.RadioButtonFor(model => model.CustomerSex, "Male")
                                <label>Мужской</label>
                            </div>
                            <div class="radio-custom radio-primary">
                                <span class="icon"><i class="fa fa-female"></i></span>
                                @Html.RadioButtonFor(model => model.CustomerSex, "Female")
                                <label>Женский</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.CustomerSex, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <label>Дата рождения</label>
                        <div class="col-md-6 input-group mb-md">
                            <span class="input-group-addon">
                                <span class="icon"><i class="fa fa-gift"></i></span>
                            </span>
                            @Html.EditorFor(model => model.CustomerBirthDate, new {htmlAttributes = new {@class = "form-control", placeholder = "__/__/____"}})
                            @Html.ValidationMessageFor(model => model.CustomerBirthDate, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <label>Номер телефона</label>
                        <div class="col-md-6 input-group mb-md">
                            <span class="input-group-addon">
                                <span class="icon"><i class="fa fa-phone"></i></span>
                            </span>
                            @Html.EditorFor(model => model.CustomerPhone, new {htmlAttributes = new {@class = "form-control", placeholder = "(123) 123-1234"}})
                            @Html.ValidationMessageFor(model => model.CustomerPhone, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <label>Должность</label>
                        <div class="col-sm-12">
                            <div class="radio-custom radio-primary">
                                <span class="icon"><i class="fa fa-user-secret"></i></span>
                                @Html.RadioButtonFor(model => model.CustomerRoleId, 2)
                                <label>Администратор</label>
                            </div>
                            <div class="radio-custom radio-primary">
                                <span class="icon"><i class="fa fa-user"></i></span>
                                @Html.RadioButtonFor(model => model.CustomerRoleId, 3)
                                <label>Менеджер</label>
                            </div>
                            <div class="radio-custom radio-primary">
                                <span class="icon"><i class="fa fa-cutlery"></i></span>
                                @Html.RadioButtonFor(model => model.CustomerRoleId, 4)
                                <label>Повар</label>
                            </div>
                            <div class="radio-custom radio-primary">
                                <span class="icon"><i class="fa fa-car"></i></span>
                                @Html.RadioButtonFor(model => model.CustomerRoleId, 5)
                                <label>Курьер</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <label>Пароль</label>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <span class="icon"><i class="fa fa-key"></i></span>
                            </span>
                            @Html.EditorFor(model => model.CustomerPassword, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.CustomerPassword, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <label>Подтверждение пароля</label>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <span class="icon"><i class="fa fa-key"></i></span>
                            </span>
                            @Html.EditorFor(model => model.CustomerPasswordConfirm, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.CustomerPasswordConfirm, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary hidden-xs" value="Сохранить">Сохранить</button>
                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" value="Сохранить">Сохранить</button>
                            <button type="button" class="btn btn-default hidden-xs" value="Отменить" onclick="history.back();">Отменить</button>
                            <button type="button" class="btn btn-default btn-block btn-lg visible-xs mt-lg" value="Отенить" onclick="history.back();">Отменить</button>
                        </div>
                    </div>
                </footer>
               </div>
        </div>
    }
    </section>
<!-- end: page -->
