@using DominosPizza.Models
@model Task

@{
    Layout = "~/Views/Crmpanel/_LayoutManager.cshtml";
    var db = new DominosContext();

}
<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Управление заказами
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="~/Crmpanel/Manager">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>Заказы в работу</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Crmpanel/Manager">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span>Добавить заказ</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Crmpanel/Manager">
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                            <span>Диалоги с покупателями</span><span class="badge">3</span>
                        </a>
                    </li>

                </ul>
            </nav>

            <hr class="separator" />
        </div>
    </div>
</aside>
<!-- start: Content -->
<!-- end: sidebar -->

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Детали заказа</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="#">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
                <li><span>Детали заказа</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
    <div class="center-sign">

    <!-- start: page -->
    <section class="panel">
        <div class="panel-body">
            <div class="invoice">
                <header class="clearfix">
                    <div class="row">
                        <div class="col-sm-6 mt-md">
                            <h2 class="h2 mt-none mb-sm text-dark text-weight-bold">Заказ № @ViewBag.Order</h2> 
                        </div>
                    </div>
                </header>
                <div class="bill-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="bill-to">
                                <p class="h5 mb-xs text-dark text-weight-semibold">
                                    <span class="text-dark">ФИО заказчика: </span>
                                    <span class="text-success">@ViewBag.FullName</span>
                                </p>
                                <p class="h5 mb-xs text-dark text-weight-semibold">
                                    <span class="text-dark">Адрес доставки: </span>
                                    <span class="text-success">@ViewBag.Adress</span>
                                </p>
                                <p class="h5 mb-xs text-dark text-weight-semibold">
                                    <span class="text-dark">Телефон: </span>
                                    <span class="text-success">@ViewBag.Telephone</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bill-data text-right">
                                <p class="mb-none">
                                    <span class="text-dark">Дата заказа:</span>
                                    <span class="value">@ViewBag.OrderDate</span>
                                </p>
                                <p class="mb-none">
                                    <span class="text-dark">Время заказа:</span>
                                    <span class="value">@ViewBag.OrderTime</span>
                                </p>
                                <p class="mb-none">
                                    <span class="text-dark">Время доставки:</span>
                                    <span class="value">@ViewBag.DeliveryTime</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table invoice-items">
                        <thead>
                            <tr class="h4 text-dark">
                                <th id="cell-id" class="text-weight-semibold">#</th>
                                <th id="cell-item" class="text-weight-semibold">Наименование</th>
                                <th id="cell-price" class="text-center text-weight-semibold">Цена</th>
                                <th id="cell-qty" class="text-center text-weight-semibold">Колличество</th>
                                <th id="cell-total" class="text-center text-weight-semibold">Сумма</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td class="text-weight-semibold text-dark">Маргарита</td>
                            <td class="text-center">678.00</td>
                            <td class="text-center">2</td>
                            <td class="text-center">1356.00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="text-weight-semibold text-dark">Двойная пепперони</td>
                            <td class="text-center">672.00</td>
                            <td class="text-center">1</td>
                            <td class="text-center">672.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-0">
                        <table>
                            <tbody>
                                <tr class="h4 text-dark">
                                    <td colspan="2">Комментарии к заказу:</td>
                                    <td class="text-left">@ViewBag.Comment</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="invoice-summary">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <table class="table h5 text-dark">
                                <tbody>
                                <tr class="h4">
                                    <td colspan="1">Оплата:</td>
                                    <td class="text-left">@ViewBag.Payment</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-4 col-sm-offset-8">
                            <table class="table h5 text-dark">
                                <tbody>
                                <tr class="h4">
                                    <td colspan="2">Общая сумма заказа:</td>
                                    <td class="text-left">@ViewBag.TotalSumm</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <div class="text-right mr-lg">
                <button type="button" class="btn btn-default hidden-xs" value="Отменить" onclick="history.back();">Отменить</button>
                <button type="button" class="btn btn-default btn-block btn-lg visible-xs mt-lg" value="Отменить" onclick="history.back();">Отменить</button>
                <a href="~/Crmpanel/EditOrder/@ViewBag.Order" type="button" class="btn btn-default">Редактировать</a>
                <button type="submit" class="btn btn-primary hidden-xs" value="Передать на кухню">Передать на кухню</button>
                <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" value="Передать на кухню">Передать на кухню</button>
            </div>
                
            }
            
        </div>
    </section>

    <!-- end: page --></div></div>
</section>
