@using System.Web.UI.WebControls
@model DominoPizza.Models.RegisterModel

@{
    ViewBag.Title = "Dominos Pizza | Регистрация сотрудника";
    Layout = "~/Views/Crmpanel/_LayoutManage.cshtml";
}
<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Управление пиццерией
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li>
                        <!-- стиль предполагает активную вкладку -->
                        <a href="~/Crmpanel/Manage">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Общая статистика</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Crmpanel/Active_Orders">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>Активные заказы</span>
                        </a>
                    </li>
                    <li class="nav-active">
                        <a href="~/Crmpanel/Register">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>Добавить сотрудника</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Crmpanel/Users">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>Список сотрудников</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                            <span>Редактор товаров</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a>Пиццы</a>
                            </li>
                            <li>
                                <a>Закуски</a>
                            </li>
                            <li class="nav-parent">
                                <a>Десерты</a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a>Торты</a>
                                    </li>
                                    <li>
                                        <a>Печенье</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Напитки</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <hr class="separator" />
        </div>

    </div>

</aside>
<!-- end: sidebar -->
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Регистрация нового сотрудника</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Crmpanel/Register">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <li><span>Регистрация сотрудника</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <!-- start: page -->
        <div class="center-sign col-sm-6">
            <div class="panel panel-sign">
                <div class="panel-body">
                    <form>
                        <div class="form-group mb-lg">
                            <label>E-mail / Login</label>
                            <div class="input-group mb-md">
                                <span class="input-group-addon">
                                    <span class="icon"><i class="fa fa-envelope"></i></span>
                                </span>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>Фамилия</label>
                            <div class="input-group mb-md">
                                <span class="input-group-addon">
                                    <span class="icon"><i class="fa fa-user"></i></span>
                                </span>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>Имя</label>
                            <div class="input-group mb-md">
                                <span class="input-group-addon">
                                    <span class="icon"><i class="fa fa-user"></i></span>
                                </span>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>Отчество</label>
                            <div class="input-group mb-md">
                                <span class="input-group-addon">
                                    <span class="icon"><i class="fa fa-user"></i></span>
                                </span>
                                @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Patronymic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>Пол</label>
                            <div class="col-sm-12">
                                <div class="radio-custom radio-primary">
                                    <span class="icon"><i class="fa fa-male"></i></span>
                                    @Html.RadioButtonFor(model => model.Sex, "Male", new { @checked = "true" })
                                    <label>Мужской</label>
                                </div>
                                <div class="radio-custom radio-primary">
                                    <span class="icon"><i class="fa fa-female"></i></span>
                                    @Html.RadioButtonFor(model => model.Sex, "Female")
                                    <label>Женский</label>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group mb-lg">
                            <label>Дата рождения</label>
                            <div class="col-md-6 input-group mb-md">
                                <span class="input-group-addon">
                                    <span class="icon"><i class="fa fa-gift"></i></span>
                                </span>
                                @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>Номер телефона</label>
                            <div class="col-md-6 input-group mb-md">
                                <span class="input-group-addon">
                                    <span class="icon"><i class="fa fa-phone"></i></span>
                                </span>
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "79999999999" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>Должность</label>
                            <div class="col-sm-12">
                                <div class="radio-custom radio-primary">
                                    <span class="icon"><i class="fa fa-user-secret"></i></span>
                                    @Html.RadioButtonFor(model => model.RoleId, 5, new { @checked = "true" })
                                    <label>Администратор</label>
                                </div>
                                <div class="radio-custom radio-primary">
                                    <span class="icon"><i class="fa fa-user"></i></span>
                                    @Html.RadioButtonFor(model => model.RoleId, 2)
                                    <label>Менеджер</label>
                                </div>
                                <div class="radio-custom radio-primary">
                                    <span class="icon"><i class="fa fa-cutlery"></i></span>
                                    @Html.RadioButtonFor(model => model.RoleId, 3)
                                    <label>Повар</label>
                                </div>
                                <div class="radio-custom radio-primary">
                                    <span class="icon"><i class="fa fa-car"></i></span>
                                    @Html.RadioButtonFor(model => model.RoleId, 4)
                                    <label>Курьер</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>Пароль</label>
                            <div class="input-group mb-md">
                                <span class="input-group-addon">
                                    <span class="icon"><i class="fa fa-key"></i></span>
                                </span>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>Подтверждение пароля</label>
                            <div class="input-group mb-md">
                                <span class="input-group-addon">
                                    <span class="icon"><i class="fa fa-key"></i></span>
                                </span>
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-7">
                        <button type="submit" class="btn btn-primary hidden-xs">Зарегистрировать</button>
                        <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Зарегистрировать</button>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
    <!-- end: page -->