
@{
    ViewBag.Title = "Test";
    Layout = null;
}
<table border="1">
    <tr>
        <th>TaskId</th>
        <th>TaskTotalSum</th>
        <th>TaskStatus</th>
        <th>TaskPayMethod</th>
        <th>TaskDate</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTotalSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskPayMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDate)
            </td>

        </tr>
    }
</table>

<div class="container">
    <div class="nav navbar-left">
        <table id="userslist">
            <tr>

                <th align="center">Логин сотрудника</th>
                <th align="center">Фамилия</th>
                <th align="center">Имя</th>
                <th align="center">Отчество</th>
                <th align="center">Должность</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerPatronymic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerRoleId)
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <!--
                        @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId }) -->
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="nav navbar-right">
        <div align=center>
            <div style="width:260px; border:1px solid #c0c0c0; padding:6px;">
                <table id="calendar" border="0" cellspacing="0" cellpadding="1">
                    <thead>
                        <tr><td><b>‹</b><td colspan="5"><td><b>›</b>
                        <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>






<script>
    function calendar(id, year, month) {
        var Dlast = new Date(year, month + 1, 0).getDate(),
            D = new Date(year, month, Dlast),
            DNlast = new Date(D.getFullYear(), D.getMonth(), Dlast).getDay(),
            DNfirst = new Date(D.getFullYear(), D.getMonth(), 1).getDay(),
            calendar = '<tr>',
            month = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];
        if (DNfirst != 0) {
            for (var i = 1; i < DNfirst; i++) calendar += '<td>';
        } else {
            for (var i = 0; i < 6; i++) calendar += '<td>';
        }
        for (var i = 1; i <= Dlast; i++) {
            if (i == new Date().getDate() && D.getFullYear() == new Date().getFullYear() && D.getMonth() == new Date().getMonth()) {
                calendar += '<td class="today">' + i;
            } else {
                calendar += '<td>' + i;
            }
            if (new Date(D.getFullYear(), D.getMonth(), i).getDay() == 0) {
                calendar += '<tr>';
            }
        }
        for (var i = DNlast; i < 7; i++) calendar += '<td> ';
        document.querySelector('#' + id + ' tbody').innerHTML = calendar;
        document.querySelector('#' + id + ' thead td:nth-child(2)').innerHTML = month[D.getMonth()] + ' ' + D.getFullYear();
        document.querySelector('#' + id + ' thead td:nth-child(2)').dataset.month = D.getMonth();
        document.querySelector('#' + id + ' thead td:nth-child(2)').dataset.year = D.getFullYear();
        if (document.querySelectorAll('#' + id + ' tbody tr').length < 6) {  // чтобы при перелистывании месяцев не "подпрыгивала" вся страница, добавляется ряд пустых клеток. Итог: всегда 6 строк для цифр
            document.querySelector('#' + id + ' tbody').innerHTML += '<tr><td> <td> <td> <td> <td> <td> <td> ';
        }
    }
    calendar("calendar", new Date().getFullYear(), new Date().getMonth());
    // переключатель минус месяц
    document.querySelector('#calendar thead tr:nth-child(1) td:nth-child(1)').onclick = function () {
        calendar("calendar", document.querySelector('#calendar thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar thead td:nth-child(2)').dataset.month) - 1);
    }
    // переключатель плюс месяц
    document.querySelector('#calendar thead tr:nth-child(1) td:nth-child(3)').onclick = function () {
        calendar("calendar", document.querySelector('#calendar thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar thead td:nth-child(2)').dataset.month) + 1);
    }
</script>
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
        e = o.createElement(i); r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');
</script>

