@model IEnumerable<DominosPizza.Models.Customer>
@using DominosPizza.Models

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Crmpanel/_LayoutManage.cshtml";
}

<p>
    @Html.ActionLink("Добавить сотрудника", "Register", "Crmpanel")
</p>
<table border="1">
    <tr>
        <th></th>
        <th>Логин</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Фамилия</th>
        <th>Id Должности</th>
        <th>Должность</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPatronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerRoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRoles)
            </td>
        </tr>
    }

</table>