@model IEnumerable<Customer>
@using DominosPizza.Models


@{
    ViewBag.Title = "Dominos Pizza | Список сотрудников";
    Layout = "~/Views/Crmpanel/_LayoutManage.cshtml";
    var db = new DominosContext();
}
<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Управление пиццерией
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li>
                        <!-- стиль предполагает активную вкладку -->
                        <a href="~/Crmpanel/Manage">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Общая статистика</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Crmpanel/Active_Orders">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>Активные заказы</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Crmpanel/Register">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>Добавить сотрудника</span>
                        </a>
                    </li>
                    <li class="nav-active">
                        <a href="~/Crmpanel/Users">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>Список сотрудников</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                            <span>Редактор товаров</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a>Пиццы</a>
                            </li>
                            <li>
                                <a>Закуски</a>
                            </li>
                            <li class="nav-parent">
                                <a>Десерты</a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a>Торты</a>
                                    </li>
                                    <li>
                                        <a>Печенье</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Напитки</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <hr class="separator" />
        </div>

    </div>

</aside>
<!-- end: sidebar -->
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Список сотрудников</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Crmpanel/Users">
                        <i class="fa fa-list-alt"></i>
                    </a>
                </li>
                <li><span>Список сотрудников</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="center-sign">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Список сотрудников</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table mb-none">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Логин</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Фамилия</th>
                                    <th>Должность</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var userRoles = db.UserRoles.Find(item.CustomerRoleId);
                                    if (item.CustomerRoleId > 1 && item.CustomerRoleId < 6)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.CustomerId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CustomerEmail)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CustomerFirstName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CustomerPatronymic)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CustomerLastName)</td>
                                            <td>@Html.DisplayFor(modelItem => userRoles.UserRoleName)</td>
                                            <td class="actions">
                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()
                                                <a href="~/Crmpanel/EditCustomer/@item.CustomerId"><i class="fa fa-pencil"></i></a>
                                                <a href="~/Crmpanel/Delete/@item.CustomerId"><i class="fa fa-trash-o"></i></a>
                                            }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- end: page -->
